header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2F554C;
    height: 150px;
    width: auto;
    color: rgb(175, 175, 175);
    border: solid 4px #73B46E;
}

h1 {
    font-size: 2.5em;
    margin: 0 20px;
    flex-grow: 2;
}